@using Models;
@using FreezeDownTimer.Helpers;
@model FreezeDownTimer.Models.RoleViewModel

@{
    ViewBag.Title = "RoleEdit";
    Layout = "~/Views/Shared/_LayoutPage4.cshtml";
}
@section scripts
{
    <link href="~/Content/Menu.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/UserEdit.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        $(document).ready(function () {

            var _IsSaved = '@ViewBag.IsSaved';
            if (_IsSaved == "True") {
                $('#lblSave').text("Changes Saved");
                $(document).on('change', '.changeable', function () {
                    //$('#FormChanged').val("1");
                    $('#lblSave').text("");
                });
                //$("#Notes").on("keypress", function () {
                //    $('#lblSave').text("");
                //})

            }
            else {
                $('#lblSave').text("");
            }

            $('#cmdAddPermission').click(function () {
                var _permissionID = $('#PermissionID').val();
                var _roleID = $('#RoleID').val();


                if (_permissionID == '') {
                    return false;
                }

                var _parameters = { RoleID: _roleID, PermissionID: _permissionID  };
                $.ajax({
                    url: "/Admin2/AddRolePermissionReturnPartialView",
                    type: "GET",
                    data: _parameters,
                    success: function (data, textStatus, jqXHR) {
                        $('#PermissionsTable').html(data);
                    }
                });
            });
            $('#btnDeletePermissionConfirm').click(function () {
                $('#confirmDeleteModal').modal('hide')
                var _roleID = $('#RoleID').val();
                var _permissionID = $('#ConfirmPermissionID').val();


                //alert("UserID: " + _userID + " RoleID: " + _roleID)

                if (_permissionID == '') {
                    return false;
                }

                var _parameters = { RoleID: _roleID, PermissionID: _permissionID };
                $.ajax({
                    url: "/Admin2/DeleteRolePermissionReturnPartialView",
                    type: "GET",
                    data: _parameters,
                    success: function (data, textStatus, jqXHR) {
                        $('#PermissionsTable').html(data);
                    }
                });
            });
        })
    </script>

}
@using (Html.BeginForm("RoleEditDB", "Admin2", FormMethod.Post, new { encType = "multipart/form-data" }))
{
    <div class="container">

        <div class="row">
            <div class="col-md-2 mb-2 mt-4">
                <h5>Edit Role</h5>
            </div>
            <div class="col-md-8 mb-2 mt-4">
            </div>
            <div class="col-md-2 mb-2">
                <label id="lblSave" class="mt-3 fdLabel" style="color:red; font-size: 18px"></label>
            </div>
        </div>



        @* Role Infromation*@
        <div class="card mb-3">

            <h5 class="card-header" style="background-color: lightblue">Role Details</h5>

            <div class="card-body">

                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group mb-2 editDivFormat">
                            @Html.Label("Role Name:", htmlAttributes: new { @class = "control-label col-lg-6 lb-sm" })
                            @Html.TextBoxFor(model => model.RoleName, htmlAttributes: new { @class = "form-control changeable  form-control-sm" })
                            @Html.ValidationMessageFor(model => model.RoleName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-lg-6">

                    </div>

                </div>



                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group mb-2 editDivFormat">
                            @Html.Label("Role Description:", htmlAttributes: new { @class = "control-label col-lg-12 lb-sm" })
                            @Html.EditorFor(model => model.RoleDescription, new { htmlAttributes = new { @class = "form-control changeable", @rows = "3", @height = "100%", @maxlength = "255" } })
                            @Html.ValidationMessageFor(model => model.RoleDescription, "", new { @class = "text-danger" })
                        </div>
                    </div>


                </div>



                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group mb-2 editDivFormat">
                            @Html.Label("System Role:", htmlAttributes: new { @class = "control-label col-lg-6 lb-sm", @style = "display: block" })
                            @Html.CheckBoxFor(m => m.IsSysAdmin, new { @class = "move-left  changeable   sizeCheckbox" })
                            @Html.ValidationMessageFor(model => model.IsSysAdmin, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-lg-6">

                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-2 mt-2">
                        <button type="submit" name="cmdSave" value="Save" class="btn btn-primary btn-sm form-control">Save</button>
                    </div>
                    <div class="col-lg-10 mt-2">
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-2 mt-3">
                        @Html.ActionLink("Go To Roles", "Roles", "Admin2")
                    </div>
                    <div class="col-lg-9 mt-3">
                    </div>
                </div>

            </div>
        </div>





        @*Role Permission Information*@

        <div class="card mb-3">

            <h5 class="card-header" style="background-color: lightgreen">Permissions Associated with Role</h5>

            <div class="card-body">

                <div class="row">
                    <div class="col-lg-6">
                        @Html.Label("Permission:", htmlAttributes: new { @class = "control-label col-lg-6 lb-sm" })
                    </div>
                    <div class="col-lg-6">
                        @Html.Label("Action:", htmlAttributes: new { @class = "control-label col-lg-6 lb-sm" })
                    </div>
                </div>

                <div id="PermissionsTable">
                    @Html.Partial("_RolePermissionTable", Model)
                </div>

                <div class="row">
                    <div class="col-lg-3 mt-4">
                        <div class="form-group editDivFormat">
                            @Html.Label("Add Permission to Role:", htmlAttributes: new { @class = "control-label col-lg-6 lb-sm" })
                            @Html.DropDownList("PermissionID", Model.selectPermissions,
                            "Select", new { @class = "selectpicker form-control form-control-sm changeable", })
                        </div>
                    </div>
                    <div class="col-lg-2 mt-4">
                        <button type="button" name="cmdAddPermission" id="cmdAddPermission" value="Save" class="btn btn-primary btn-sm form-control mt-4">Add Permission</button>
                    </div>
                    <div class="col-lg-7 mt-4">
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-2 ">
                        @Html.ActionLink("Go To Permissions", "Permissions", "Admin2")
                    </div>
                    <div class="col-lg-2">
                    </div>
                    <div class="col-lg-7">
                    </div>
                </div>

            </div>
        </div>





    </div>

    @Html.HiddenFor(m => m.RoleID)
}
